<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>ActionController::Layout::ClassMethods</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../css/github.css" type="text/css" media="screen" />
<script src="../../../js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/jquery-effect.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/highlight.pack.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>     
    <div class="banner">
        
        <h1>
            <span class="type">Module</span> 
            ActionController::Layout::ClassMethods 
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/rails/actionpack/lib/action_controller/layout_rb.html">rails/actionpack/lib/action_controller/layout.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  
    <div class="description">
      
<p>Layouts reverse the common pattern of including shared headers and footers
in many templates to isolate changes in repeated setups. The inclusion
pattern has pages that look like this:</p>

<pre>&lt;%= render &quot;shared/header&quot; %&gt;
Hello World
&lt;%= render &quot;shared/footer&quot; %&gt;</pre>

<p>This approach is a decent way of keeping common structures isolated from
the changing content, but it’s verbose and if you ever want to change the
structure of these two includes, you’ll have to change all the templates.</p>

<p>With layouts, you can flip it around and have the common structure know
where to insert changing content. This means that the header and footer are
only mentioned in one place, like this:</p>

<pre>// The header part of this layout
&lt;%= yield %&gt;
// The footer part of this layout --&gt;</pre>

<p>And then you have content pages that look like this:</p>

<pre>hello world</pre>

<p>Not a word about common structures. At rendering time, the content page is
computed and then inserted in the layout,  like this:</p>

<pre>// The header part of this layout
hello world
// The footer part of this layout --&gt;</pre>

<h2 id="label-Accessing+shared+variables">Accessing shared variables</h2>

<p>Layouts have access to variables specified in the content pages and vice
versa. This allows you to have layouts with references that won’t
materialize before rendering time:</p>

<pre>&lt;h1&gt;&lt;%= @page_title %&gt;&lt;/h1&gt;
&lt;%= yield %&gt;</pre>

<p>…and content pages that fulfill these references <em>at</em> rendering
time:</p>

<pre>&lt;% @page_title = &quot;Welcome&quot; %&gt;
Off-world colonies offers you a chance to start a new life</pre>

<p>The result after rendering is:</p>

<pre>&lt;h1&gt;Welcome&lt;/h1&gt;
Off-world colonies offers you a chance to start a new life</pre>

<h2 id="label-Automatic+layout+assignment">Automatic layout assignment</h2>

<p>If there is a template in <code>app/views/layouts/</code> with the same
name as the current controller then it will be automatically set as that
controller’s layout unless explicitly told otherwise. Say you have a
WeblogController, for example. If a template named 
<code>app/views/layouts/weblog.rhtml</code> or
<code>app/views/layouts/weblog.rxml</code> exists then it will be
automatically set as the layout for your WeblogController. You can create a
layout with the name <code>application.rhtml</code> or
<code>application.rxml</code> and this will be set as the default
controller if there is no layout with the same name as the current
controller and there is  no layout explicitly assigned with the
<code>layout</code> method. <a href="../../Nested.html">Nested</a>
controllers use the same folder structure for automatic layout. assignment.
So an Admin::WeblogController will look for a template named
<code>app/views/layouts/admin/weblog.rhtml</code>. Setting a layout
explicitly will always override the automatic behaviour for the controller
where the layout is set. Explicitly setting the layout in a parent class,
though, will not override the child class’s layout assignement if the child
class has a layout with the same name.</p>

<h2 id="label-Inheritance+for+layouts">Inheritance for layouts</h2>

<p>Layouts are shared downwards in the inheritance hierarchy, but not upwards.
Examples:</p>

<pre class="ruby"><span class="ruby-keyword">class</span> <span class="ruby-constant">BankController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">ActionController</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">layout</span> <span class="ruby-string">&quot;bank_standard&quot;</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">InformationController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">BankController</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">VaultController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">BankController</span>
  <span class="ruby-identifier">layout</span> :<span class="ruby-identifier">access_level_layout</span>

<span class="ruby-keyword">class</span> <span class="ruby-constant">EmployeeController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">BankController</span>
  <span class="ruby-identifier">layout</span> <span class="ruby-keyword">nil</span>
</pre>

<p>The InformationController uses “bank_standard” inherited from the
BankController, the VaultController overwrites and picks the layout
dynamically, and the EmployeeController doesn’t want to use a layout at
all.</p>

<h2 id="label-Types+of+layouts">Types of layouts</h2>

<p>Layouts are basically just regular templates, but the name of this template
needs not be specified statically. Sometimes you want to alternate layouts
depending on runtime information, such as whether someone is logged in or
not. This can be done either by specifying a method reference as a symbol
or using an inline method (as a proc).</p>

<p>The method reference is the preferred approach to variable layouts and is
used like this:</p>

<pre class="ruby"><span class="ruby-keyword">class</span> <span class="ruby-constant">WeblogController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">ActionController</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">layout</span> :<span class="ruby-identifier">writers_and_readers</span>

  <span class="ruby-keyword">def</span> <span class="ruby-identifier">index</span>
    <span class="ruby-comment"># fetching posts</span>
  <span class="ruby-keyword">end</span>

  <span class="ruby-identifier">private</span>
    <span class="ruby-keyword">def</span> <span class="ruby-identifier">writers_and_readers</span>
      <span class="ruby-identifier">logged_in?</span> <span class="ruby-operator">?</span> <span class="ruby-string">&quot;writer_layout&quot;</span> <span class="ruby-operator">:</span> <span class="ruby-string">&quot;reader_layout&quot;</span>
    <span class="ruby-keyword">end</span>
</pre>

<p>Now when a new request for the index action is processed, the layout will
vary depending on whether the person accessing  is logged in or not.</p>

<p>If you want to use an inline method, such as a proc, do something like
this:</p>

<pre class="ruby"><span class="ruby-keyword">class</span> <span class="ruby-constant">WeblogController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">ActionController</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">layout</span> <span class="ruby-identifier">proc</span>{ <span class="ruby-operator">|</span><span class="ruby-identifier">controller</span><span class="ruby-operator">|</span> <span class="ruby-identifier">controller</span>.<span class="ruby-identifier">logged_in?</span> <span class="ruby-operator">?</span> <span class="ruby-string">&quot;writer_layout&quot;</span> <span class="ruby-operator">:</span> <span class="ruby-string">&quot;reader_layout&quot;</span> }
</pre>

<p>Of course, the most common way of specifying a layout is still just as a
plain template name:</p>

<pre class="ruby"><span class="ruby-keyword">class</span> <span class="ruby-constant">WeblogController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">ActionController</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">layout</span> <span class="ruby-string">&quot;weblog_standard&quot;</span>
</pre>

<p>If no directory is specified for the template name, the template will by
default by looked for in <code>app/views/layouts/</code>.</p>

<h2 id="label-Conditional+layouts">Conditional layouts</h2>

<p>If you have a layout that by default is applied to all the actions of a
controller, you still have the option of rendering a given action or set of
actions without a layout, or restricting a layout to only a single action
or a set of actions. The  <code>:only</code> and <code>:except</code>
options can be passed to the layout call. For example:</p>

<pre class="ruby"><span class="ruby-keyword">class</span> <span class="ruby-constant">WeblogController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">ActionController</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-identifier">layout</span> <span class="ruby-string">&quot;weblog_standard&quot;</span>, :<span class="ruby-identifier">except</span> =<span class="ruby-operator">&gt;</span> :<span class="ruby-identifier">rss</span>

  <span class="ruby-comment"># ...</span>

<span class="ruby-keyword">end</span>
</pre>

<p>This will assign “weblog_standard” as the WeblogController’s layout  except
for the <code>rss</code> action, which will not wrap a layout  around the
rendered view.</p>

<p>Both the <code>:only</code> and <code>:except</code> condition can accept
an arbitrary number of method references, so  #<code>:except =&gt; [ :rss,
:text_only ]</code> is valid, as is <code>:except =&gt; :rss</code>.</p>

<h2 id="label-Using+a+different+layout+in+the+action+render+call">Using a different layout in the action render call</h2>

<p>If most of your actions use the same layout, it makes perfect sense to
define a controller-wide layout as described above. Some times you’ll have
exceptions, though, where one action wants to use a different layout than
the rest of the controller. This is possible using the <code>render</code>
method. It’s just a bit more manual work as you’ll have to supply fully
qualified template and layout names as this example shows:</p>

<pre class="ruby"><span class="ruby-keyword">class</span> <span class="ruby-constant">WeblogController</span> <span class="ruby-operator">&lt;</span> <span class="ruby-constant">ActionController</span><span class="ruby-operator">::</span><span class="ruby-constant">Base</span>
  <span class="ruby-keyword">def</span> <span class="ruby-identifier">help</span>
    <span class="ruby-identifier">render</span> :<span class="ruby-identifier">action</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-string">&quot;help/index&quot;</span>, :<span class="ruby-identifier">layout</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-string">&quot;help&quot;</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span>
</pre>

<p>As you can see, you pass the template as the first parameter, the status
code as the second (“200” is OK), and the layout as the third.</p>

<p>NOTE: The old notation for rendering the view from a layout was to expose
the magic <code>@content_for_layout</code> instance  variable. The
preferred notation now is to use <code>yield</code>, as documented above.</p>

    </div>
  


  


  
  


  


  
    <!-- Method ref -->
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
      
        <dt>L</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-layout">layout</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  



  

    

    

    


    


    <!-- Methods -->
        
      <div class="sectiontitle">Instance Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-i-layout">
            
              <a name="method-i-layout"></a><b>layout</b>(template_name, conditions = {})
            
          </div>
          
          
            <div class="description">
              <p>If a layout is specified, all rendered actions will have their result
rendered</p>

<p>when the layout<code>yield</code>’s. This layout can itself depend on
instance variables assigned during action performance and have access to
them as any normal template would.</p>
            </div>
          
          
          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-layout_source')" id="l_method-i-layout_source">show</a>
                
              </p>
              <div id="method-i-layout_source" class="dyn-source">
                <pre><span class="ruby-comment"># File rails/actionpack/lib/action_controller/layout.rb, line 170</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">layout</span>(<span class="ruby-identifier">template_name</span>, <span class="ruby-identifier">conditions</span> = {})
  <span class="ruby-identifier">add_layout_conditions</span>(<span class="ruby-identifier">conditions</span>)
  <span class="ruby-identifier">write_inheritable_attribute</span> <span class="ruby-string">&quot;layout&quot;</span>, <span class="ruby-identifier">template_name</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
                    </div>
    </div>
  </body>
</html>    